.backgroundImage {
  position: fixed !important;
  inset: 0;
  z-index: -1;
  margin: 0;
  padding: 0;
  object-fit: cover !important;
}

@keyframes floatLeftToRight {
  0% {
    transform: translateX(-100vw) translateY(0);
  }
  100% {
    transform: translateX(100vw) translateY(-20px);
  }
}

@keyframes floatRightToLeft {
  0% {
    transform: translateX(100vw) translateY(0);
  }
  100% {
    transform: translateX(-100vw) translateY(20px);
  }
}

.floatLR {
  animation: floatLeftToRight 45s linear infinite;
  will-change: transform;
}

.floatRL {
  animation: floatRightToLeft 45s linear infinite;
  will-change: transform;
}

.floatLR2 {
  animation: floatLeftToRight 60s linear infinite;
  will-change: transform;
}

.floatRL2 {
  animation: floatRightToLeft 60s linear infinite;
  will-change: transform;
}

.floatLR3 {
  animation: floatLeftToRight 75s linear infinite;
  will-change: transform;
}

.floatRL3 {
  animation: floatRightToLeft 75s linear infinite;
  will-change: transform;
}